@use "sass:color";

$color-scheme: docker;
$body-background-color: $grey-dk-300;
$body-heading-color: $grey-lt-000;
$body-text-color: $grey-lt-300;
$link-color: #0ea5e9;
$nav-child-link-color: $grey-dk-000;
$sidebar-color: $grey-dk-300;
$base-button-color: $grey-dk-250;
$btn-primary-color: #0ea5e9;
$code-background-color: #27272a;
$code-linenumber-color: #e6edf3;
$feedback-color: color.adjust($sidebar-color, $lightness: -3%);
$table-background-color: $grey-dk-250;
$search-background-color: $grey-dk-250;
$search-result-preview-color: $grey-lt-300;
$border-color: $grey-dk-200;
